node_modules/
.vite/
.vite/*
coursera-dashboard/.vite/
coursera-dashboard/.vite/*
data-flow/1-bronze/input/*
!data-flow/1-bronze/input/download
.env
reviews_with_topics.json
all_institutions_metrics.json
3-gold/